### Another sample run ... With cleaned up code

####ADS Project Sample Run

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# initialise DataFrame
dproject = pd.read_csv('Data_ADS_Project_Total_Cleaned.csv')

In [3]:
dproject.head()

,Serial Number,School,Surname,First Name,Other Name,Date of entry,Gender,Date of Birth,Age,Languages Spoken,...,Language with Siblings,Language with Friends,Language in School,First English at,Comprehension 1,Comprehension 2,Comprehension 3,Comprehension 4,Comprehension 5,Unnamed: 22
0,1.0,EIA,NaN,NaN,NaN,17/02/2023,F,12/3/2012,age,"English , Yoruba",...,"English, Yoruba","English, Yoruba",English,At home,1,1,1,1,1,NaN
1,2.0,EIA,NaN,NaN,NaN,17/02/2023,M,NaN,NaN,"English, Yoruba, Pidgin English",...,"English, Pidgin English","English, Pidgin English",English,Primary School,1,1,1,1,1,NaN
2,3.0,EIA,NaN,NaN,NaN,17/02/2023,F,2013,NaN,"English, Igbo",...,"English, Igbo",English,English,At home,1,1,1,1,1,NaN
3,4.0,EIA,NaN,NaN,NaN,17/02/2023,M,15/10/2012,NaN,"English, Hausa, Bura",...,English,English,English,Play group,1,1,1,1,1,NaN
4,6.0,EIA,NaN,NaN,NaN,17/02/2023,M,NaN,NaN,"English, Pidgin English, Gbagyi",...,"English, Pidgin English, Gbagyi","English, Pidgin English, Gbagyi",English,Primary School,1,1,1,0,1,NaN

In [4]:
dproject.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial Number           994 non-null    float64
 1   School                  1005 non-null   object
 2   Surname                 890 non-null    object
 3   First Name              890 non-null    object
 4   Other Name              339 non-null    object
 5   Date of entry           999 non-null    object
 6   Gender                  1001 non-null   object
 7   Date of Birth           615 non-null    object
 8   Age                     1 non-null      object
 9   Languages Spoken        1002 non-null   object
 10  Class                   1004 non-null   object
 11  Year of Entry           965 non-null    float64
 12  Language with Parents   1002 non-null   object
 13  Language with Siblings  994 non-null    object
 14  Language with Friends   1000 non-null   object
 15  Language in School      993 non-null    object
 16  First English at        999 non-null    object
 17  Comprehension 1         982 non-null    object
 18  Comprehension 2         972 non-null    object
 19  Comprehension 3         968 non-null    object
 20  Comprehension 4         958 non-null    object
 21  Comprehension 5         959 non-null    object
 22  Unnamed: 22             0 non-null      float64
dtypes: float64(3), object(20)
memory usage: 180.7+ KB

In [5]:
dproject.describe()

       Serial Number  Year of Entry  Unnamed: 22
count     994.000000     965.000000          0.0
mean      490.615694    2018.502591          NaN
std       311.880253       1.283975          NaN
min         1.000000    2014.000000          NaN
25%       227.000000    2017.000000          NaN
50%       443.500000    2019.000000          NaN
75%       776.750000    2020.000000          NaN
max      1800.000000    2022.000000          NaN

In [6]:
languages = dproject["Languages Spoken"].unique()
languages

array(['English , Yoruba', 'English, Yoruba, Pidgin English',
       'English, Igbo', 'English, Hausa, Bura',
       'English, Pidgin English, Gbagyi', 'English, Gbagyi, Hausa',
       'Yoruba, English', 'English, Yoruba', 'English, Gbagyi',
       'English, Idoma', 'English, Hausa, Gbagyi',
       'English, Ijona, Pidgin English', 'English', 'English, Hausa',
       'English, Tiv', 'English, Hausa, Tarok ', 'English, Akwa Ibom',
       'English, Igala', 'English, Amo, Hausa', 'English, Tarok',
       'Hausa, Fulfude', 'English, Gede, Fulfulde, Hausa',
       'English, Fulfulde', 'English, Ngas', 'English, Mada',
       'English, Cross River', 'English, Bassa', 'English, Eggon',
       'English, Igon', 'Englis, Jabba , Hausa ', 'English, Kilber',
       'English, Hausa, Tiv', 'English, Igede', 'English, Hausa, Idoma',
       'Gbagyi, English', 'Tiv, Gbagyi', 'Bassa, Gbagyi, English',
       'English, Hausa, Fulani', 'Gbagyi,Hausa,Mada, English', nan,
       'English,Gbagyi,Hausa,Gade', 'Gbagyi,English,Hausa, Gade',
       'English,Gbagyi,Hausa, Mada', 'Hausa,Gbagyi, English',
       'English,Gbagyi, Hausa', 'English,Gbagyi, Mada', 'English, Gade',
       'Gade, English', 'English,Gbagyi, Tiv', 'Gbagyi,Hausa, English',
       'Tiv', 'Hausa', 'Gade', 'Gbagyi', 'Gbagyi  ', 'Tiv   ',
       'English, Hausa, Ebira', 'Gbagyi, Hausa', 'Mada', 'Gbaagyi',
       'Tiv, English', 'Gbagyi, Gade', 'Gbagyi, Mada', 'Gbagyi  , Hausa',
       'Hausa, English, Gbagyi', 'English, Hausa, Gbagyi, Pidgin English',
       'Gbagyi, Pidgin English, Hausa', 'Hausa, English', 'Fulfulde',
       'Hausa, Fulfulde', 'Nupe, English', 'Ngas', 'Jaba', 'Basahge',
       'Yoruba', 'Bassa', 'Narm, Gbagyi', 'Koro', '2018',
       'English, Yoruba, Gbagyi', 'Igala, English', 'Gbagyi, Koro',
       ' Gbagyi, Hausa', 'Kantana', 'English, Ganagana',
       'English, Gbagyi ', 'English, Hausa, Gusawa', 'Igbo, English',
       'English, Chawai', 'Gede', 'Yoruba ,English, Fulfulde', 'Cantana',
       'English, Hausa, Eggon', 'Nupe', 'Enlish, Gbagyi', 'Igbo',
       'English ,Hausa, Gbagyi, Koro', 'Attakar', 'Kurama',
       'English, Hausa, Bajju', 'Gbagyi, Gede',
       'Pidgin English, Gede, Hausa', 'Chala', 'Yoruba ,English',
       'Pidgin English, Hausa, Chawai', ' English',
       'Pidgin English, Gbagyi', 'English, Ahor, Hausa',
       'Pidgin English,  Hausa, Tiv', 'Bassa, English',
       'English, Basange', 'English, Hausa, Gbagyi, Afo', 'Arago',
       'English, Gede', 'English, Tiv, Hausa', 'English, Tiv, Hausa ',
       'English, Hausa, Gede', 'Kwala',
       'English,Pidin English,Hausa, Gede', 'English, TIV',
       'English, Chawel', 'English, Bassa, Hausa',
       'English, Hausa, Gwandara', 'Englis, Hausa, Tiv',
       'English, Gbagyi , Hausa', 'Gbagyi, Hausa  ',
       'Pidgin English, Hausa', 'Pidgin English',
       'Tiv, Hausa, Pidgin English', 'English, Fulfulde, Hausa ',
       'Pidgin English, Hausa, Tiv', 'English, Pidgin English',
       'Pidgin English, Hausa, Gbagyi', 'Gbagyi, Pidgin English',
       'Pidgin English, Gede', 'Hausa, Tiv', 'Gede, English',
       'English, Pidgin English, Gede', 'Enlish, Hausa',
       'Pidgin English, Hausa , Gede', 'English,  Tiv, Hausa',
       'English, Tiv ', 'English, Jaba', 'English, Madar',
       'English, Pidgin English, Tiv', 'English ', 'Englisha, Igbira',
       'Ibo', 'Igala', 'Kwol', 'English, Kaduna', 'Edo', 'Gbaayi', 'Baju',
       'Ebira', 'Angas', 'tiv', 'Ahoe', 'Idoma', 'English, Ibo', 'Gbagy',
       'English, Ron', 'English, Edo', 'Boju', 'Burea', 'Bajju',
       'Gbagyi, Yoruba', 'English,Hausa, Yoruba', 'Yoruba, Ibo', 'Awo',
       'Efik', 'English, Ibibio(Akwa-Ibom', 'English, Kataf',
       'Englsh, Igala', 'English,Hausa, Adara', 'English,Hausa, Atarkar',
       'English,Hausa,Fulfude', 'English, Margi', 'Katab', 'Yoruba.'],
      dtype=object)

In [7]:
# SAMPLE code:  perform one hot encoding using get_dummies
# df_onehot = pd.get_dummies(df['Gender'])

# add the one hot encoded columns to the original dataframe
# df = pd.concat([df, df_onehot], axis=1)

# print(df)

df_onehot = pd.get_dummies(dproject['Gender'])

dproject=pd.concat([dproject, df_onehot], axis=1)

print(dproject.head())

   Serial Number School Surname First Name Other Name Date of entry Gender  \
0            1.0    EIA     NaN        NaN        NaN    17/02/2023      F
1            2.0    EIA     NaN        NaN        NaN    17/02/2023      M
2            3.0    EIA     NaN        NaN        NaN    17/02/2023      F
3            4.0    EIA     NaN        NaN        NaN    17/02/2023      M
4            6.0    EIA     NaN        NaN        NaN    17/02/2023      M

  Date of Birth  Age                 Languages Spoken  ... First English at   \
0     12/3/2012  age                 English , Yoruba  ...           At home
1           NaN  NaN  English, Yoruba, Pidgin English  ...    Primary School
2          2013  NaN                    English, Igbo  ...           At home
3    15/10/2012  NaN             English, Hausa, Bura  ...        Play group
4           NaN  NaN  English, Pidgin English, Gbagyi  ...    Primary School

   Comprehension 1 Comprehension 2 Comprehension 3 Comprehension 4  \
0                1               1               1               1
1                1               1               1               1
2                1               1               1               1
3                1               1               1               1
4                1               1               1               0

  Comprehension 5 Unnamed: 22  F  F  M
0               1         NaN  0  1  0
1               1         NaN  0  0  1
2               1         NaN  0  1  0
3               1         NaN  0  0  1
4               1         NaN  0  0  1

[5 rows x 26 columns]

In [8]:
dproject2=dproject.copy()
print(dproject2.head())

   Serial Number School Surname First Name Other Name Date of entry Gender  \
0            1.0    EIA     NaN        NaN        NaN    17/02/2023      F
1            2.0    EIA     NaN        NaN        NaN    17/02/2023      M
2            3.0    EIA     NaN        NaN        NaN    17/02/2023      F
3            4.0    EIA     NaN        NaN        NaN    17/02/2023      M
4            6.0    EIA     NaN        NaN        NaN    17/02/2023      M

  Date of Birth  Age                 Languages Spoken  ... First English at   \
0     12/3/2012  age                 English , Yoruba  ...           At home
1           NaN  NaN  English, Yoruba, Pidgin English  ...    Primary School
2          2013  NaN                    English, Igbo  ...           At home
3    15/10/2012  NaN             English, Hausa, Bura  ...        Play group
4           NaN  NaN  English, Pidgin English, Gbagyi  ...    Primary School

   Comprehension 1 Comprehension 2 Comprehension 3 Comprehension 4  \
0                1               1               1               1
1                1               1               1               1
2                1               1               1               1
3                1               1               1               1
4                1               1               1               0

  Comprehension 5 Unnamed: 22  F  F  M
0               1         NaN  0  1  0
1               1         NaN  0  0  1
2               1         NaN  0  1  0
3               1         NaN  0  0  1
4               1         NaN  0  0  1

[5 rows x 26 columns]

In [9]:
languages = dproject["Languages Spoken"].nunique()
languages

179

In [31]:
#df[["Score1", "Score2", "Score3"]] = df["score"].str.split(",", expand=True)
dproject[["Lang1", "Lang2", "Lang3", "Lang4"]] = dproject["Languages Spoken"].str.split(",", expand=True)
# ref...https://medium.com/@akaivdo/how-to-split-one-column-to-multiple-columns-in-pandas-3c857b47fbde

In [32]:
dproject.head()

,Serial Number,School,Surname,First Name,Other Name,Date of entry,Gender,Date of Birth,Age,Languages Spoken,...,Comprehension 5,Unnamed: 22,F,F,M,Language List,Lang1,Lang2,Lang3,Lang4
0,1.0,EIA,NaN,NaN,NaN,17/02/2023,F,12/3/2012,age,"English , Yoruba",...,1,NaN,0,1,0,"[English , Yoruba]",English,Yoruba,None,None
1,2.0,EIA,NaN,NaN,NaN,17/02/2023,M,NaN,NaN,"English, Yoruba, Pidgin English",...,1,NaN,0,0,1,"[English, Yoruba, Pidgin English]",English,Yoruba,Pidgin English,None
2,3.0,EIA,NaN,NaN,NaN,17/02/2023,F,2013,NaN,"English, Igbo",...,1,NaN,0,1,0,"[English, Igbo]",English,Igbo,None,None
3,4.0,EIA,NaN,NaN,NaN,17/02/2023,M,15/10/2012,NaN,"English, Hausa, Bura",...,1,NaN,0,0,1,"[English, Hausa, Bura]",English,Hausa,Bura,None
4,6.0,EIA,NaN,NaN,NaN,17/02/2023,M,NaN,NaN,"English, Pidgin English, Gbagyi",...,1,NaN,0,0,1,"[English, Pidgin English, Gbagyi]",English,Pidgin English,Gbagyi,None

In [34]:
languages1 = dproject["Lang1"].nunique()
print("1st language column: ", languages1)

languages2 = dproject["Lang2"].nunique()
print("2nd language column: ",languages2)

languages3 = dproject["Lang3"].nunique()
print("3rd language column: ",languages3)

languages4 = dproject["Lang4"].nunique()
print("4th language column: ",languages4)



#df_onehot = pd.get_dummies(dproject['Languages Spoken'])

#dproject=pd.concat([dproject, df_onehot], axis=1)

# print(dproject.head())

1st language column:  56
2nd language column:  54
3rd language column:  26
4th language column:  10

In [35]:
# with 136 distinct languages, how best can i do this...
lang_list1 = dproject["Lang1"].unique()
lang_list1

array(['English ', 'English', 'Yoruba', 'Hausa', 'Englis', 'Gbagyi',
       'Tiv', 'Bassa', nan, 'Gade', 'Gbagyi  ', 'Tiv   ', 'Mada',
       'Gbaagyi', 'Fulfulde', 'Nupe', 'Ngas', 'Jaba', 'Basahge', 'Narm',
       'Koro', '2018', 'Igala', ' Gbagyi', 'Kantana', 'Igbo', 'Gede',
       'Yoruba ', 'Cantana', 'Enlish', 'Attakar', 'Kurama',
       'Pidgin English', 'Chala', ' English', 'Arago', 'Kwala',
       'Englisha', 'Ibo', 'Kwol', 'Edo', 'Gbaayi', 'Baju', 'Ebira',
       'Angas', 'tiv', 'Ahoe', 'Idoma', 'Gbagy', 'Boju', 'Burea', 'Bajju',
       'Awo', 'Efik', 'Englsh', 'Katab', 'Yoruba.'], dtype=object)

In [36]:
lang_list2 = dproject["Lang2"].unique()
lang_list2

array([' Yoruba', ' Igbo', ' Hausa', ' Pidgin English', ' Gbagyi',
       ' English', ' Idoma', ' Ijona', None, ' Tiv', ' Akwa Ibom',
       ' Igala', ' Amo', ' Tarok', ' Fulfude', ' Gede', ' Fulfulde',
       ' Ngas', ' Mada', ' Cross River', ' Bassa', ' Eggon', ' Igon',
       ' Jabba ', ' Kilber', ' Igede', 'Hausa', nan, 'Gbagyi', 'English',
       ' Gade', ' Koro', ' Ganagana', ' Gbagyi ', ' Chawai', ' Ahor',
       '  Hausa', ' Basange', 'Pidin English', ' TIV', ' Chawel',
       ' Hausa  ', ' Hausa ', '  Tiv', ' Tiv ', ' Jaba', ' Madar',
       ' Igbira', ' Kaduna', ' Ibo', ' Ron', ' Edo', ' Ibibio(Akwa-Ibom',
       ' Kataf', ' Margi'], dtype=object)

In [37]:
lang_list3 = dproject["Lang3"].unique()
lang_list3

array([None, ' Pidgin English', ' Bura', ' Gbagyi', ' Hausa', ' Tarok ',
       ' Fulfulde', ' Hausa ', ' Tiv', ' Idoma', ' English', ' Fulani',
       'Mada', nan, 'Hausa', ' Mada', ' Ebira', ' Gusawa', ' Eggon',
       ' Bajju', ' Chawai', ' Gede', ' Gwandara', ' Yoruba', ' Adara',
       ' Atarkar', 'Fulfude'], dtype=object)

In [38]:
lang_list4 = dproject["Lang4"].unique()
lang_list4

array([None, ' Hausa', ' English', nan, 'Gade', ' Gade', ' Mada',
       ' Pidgin English', ' Koro', ' Afo', ' Gede'], dtype=object)

In [18]:
def convert_yards(y, feet=True):
    if feet is True:
        new_y = y*3
    else:
        new_y = y*36
    return new_y

print(convert_yards(10, False))
print(convert_yards(5))

360
15

In [24]:
# df is a pandas dataframe
# default parameters pandas Series.str.split() function
#dproject['Languages Spoken'].str.split(',', n=-1, expand=False)
dproject['Language List'] = dproject['Languages Spoken'].str.split(',', n=-1, expand=False)

# to split into multiple columns by delimiter
#df['Col'].str.split(delimiter, expand=True)

In [25]:
dproject['Language List']

0                       [English ,  Yoruba]
1       [English,  Yoruba,  Pidgin English]
2                          [English,  Igbo]
3                  [English,  Hausa,  Bura]
4       [English,  Pidgin English,  Gbagyi]
                       ...
1000                                  [Tiv]
1001                               [Gbagyi]
1002                              [Yoruba.]
1003                               [Gbagyi]
1004                     [Yoruba,  English]
Name: Language List, Length: 1005, dtype: object

In [29]:
# custom function
def language_list(n, *k):
    words = n.split(",")
    return words[0][:k]
# apply function to series
lang_list = dproject['Languages Spoken'].apply(language_list)
# print the returned series
print(lang_list)

TypeError: slice indices must be integers or None or have an __index__ method

In [40]:
dproject.columns

Index(['Serial Number', 'School', 'Surname', 'First Name', 'Other Name',
       'Date of entry', 'Gender', 'Date of Birth', 'Age', 'Languages Spoken',
       'Class', 'Year of Entry', 'Language with Parents',
       'Language with Siblings', 'Language with Friends', 'Language in School',
       'First English at ', 'Comprehension 1', 'Comprehension 2',
       'Comprehension 3', 'Comprehension 4', 'Comprehension 5', 'Unnamed: 22',
       ' F', 'F', 'M', 'Language List', 'Lang1', 'Lang2', 'Lang3', 'Lang4'],
      dtype='object')

In [42]:
dproject['Date of Birth'].isna().sum()

390

In [43]:
dproject.isna().sum()

Serial Number               11
School                       0
Surname                    115
First Name                 115
Other Name                 666
Date of entry                6
Gender                       4
Date of Birth              390
Age                       1004
Languages Spoken             3
Class                        1
Year of Entry               40
Language with Parents        3
Language with Siblings      11
Language with Friends        5
Language in School          12
First English at             6
Comprehension 1             23
Comprehension 2             33
Comprehension 3             37
Comprehension 4             47
Comprehension 5             46
Unnamed: 22               1005
 F                           0
F                            0
M                            0
Language List                3
Lang1                        3
Lang2                      404
Lang3                      912
Lang4                      996
dtype: int64

In [44]:
#df.isna().sum()/len(df)*100
# ref... https://towardsdatascience.com/data-preprocessing-with-python-pandas-part-1-missing-data-45e76b781993
dproject.isna().sum()/len(dproject)*100

Serial Number               1.094527
School                      0.000000
Surname                    11.442786
First Name                 11.442786
Other Name                 66.268657
Date of entry               0.597015
Gender                      0.398010
Date of Birth              38.805970
Age                        99.900498
Languages Spoken            0.298507
Class                       0.099502
Year of Entry               3.980100
Language with Parents       0.298507
Language with Siblings      1.094527
Language with Friends       0.497512
Language in School          1.194030
First English at            0.597015
Comprehension 1             2.288557
Comprehension 2             3.283582
Comprehension 3             3.681592
Comprehension 4             4.676617
Comprehension 5             4.577114
Unnamed: 22               100.000000
 F                          0.000000
F                           0.000000
M                           0.000000
Language List               0.298507
Lang1                       0.298507
Lang2                      40.199005
Lang3                      90.746269
Lang4                      99.104478
dtype: float64

In [ ]:
# Still trying to work on this...